* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "SuisseIntl";
  font-weight: 400;
  src: url("/preloader/fonts/SuisseIntl-Light.ttf");
}

body {
  font-family: "SuisseIntl", sans-serif;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background-color: #000;
  color: #fff;
}

.preloader {
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader h1 {
  font-size: 1.3rem;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 0);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2.5rem;
  height: 80vh;
}

nav {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  overflow: hidden;
}

nav .links {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  transform: translateX(5vw);
}

nav .links p:first-of-type {
  opacity: 0.5;
}

.bottom-box {
  height: 20vh;
}

.text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 2.5rem;
}

.text-box div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.text-box p {
  max-width: 10rem;
}
